.comment-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #0275d8 !important
}

.send {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.send:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.rate {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}

.rate>input {
    display: none
}

.rate>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ffc107;
    cursor: pointer
}

.rate>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rate>label:hover:before,
.rate>label:hover~label:before {
    opacity: 1 !important
}

.rate>input:checked~label:before {
    opacity: 1
}

.rate:hover>input:checked~label:before {
    opacity: 0.4
}